body {
    padding-top: 56px;
}
.navbar {
    background-color: #007bff;
}
.navbar-nav .nav-item {
    position: relative;
}
.navbar-nav .nav-item .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    color: #fff; /* White text color for better contrast */
}
.navbar-nav .nav-item .nav-link:hover {
    background-color: #0056b3; /* Darker shade of blue for hover effect */
    border-radius: 0;
    color: white;
}
footer {
    background-color: #f8f9fa;
    padding: 40px 0;
}